@layer base {
  @font-face {
    font-family: Aptifer Sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Aptifer Sans Regular"), local("AptiferSansRegular"), url(/assets/fonts/aptifer-sans-regular.woff2) format("woff2");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }

  @font-face {
    font-family: Aptifer Sans;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Aptifer Sans Bold"), local("AptiferSansBold"), url(/assets/fonts/aptifer-sans-bold.woff2) format("woff2");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
}